<!DOCTYPE html>
{% load int_filter %}
<html>
  <head>
    <meta charset="UTF-8">
    <title>Инфляция в России</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    {% block content %}
      <div class="row">
        <h1 class="col s12">Инфляция в России</h1>

        <table class="u-full-width">
          <thead>

          </thead>
          <tbody>
            <tr>
              {% for row in keys %}
                <th>
                  {{ row }}
                </th>
              {% endfor %}
            </tr>
            <tr>
              {% for item in list %}
                <tr>
                    {% for key, value, color in item %}
                        {% if value == None %}
                            <td>
                                -
                            </td>
                        {% elif value != '' %}
                            <td bgcolor="{{ color }}">
                                {{ value }}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </div>
    {% endblock %}
  </body>
</html>